<table>
  <tr>
    <td>
      <a routerLink="publicPage">Public page</a>
    </td>
    <td>
      <a routerLink="restrictedPage" *ngIf="isLoggedIn()">Restricted page</a>
    </td>
    <td>
      <button (click)="login()" *ngIf="!isLoggedIn()">
        Sign IN
      </button>
    </td>
    <td>
      <button (click)="logout()" *ngIf="isLoggedIn()">
        Sign OUT
      </button>
    </td>
  </tr>
</table>

<div *ngIf="isLoggedIn()">
<h3>You are logged in </h3>
</div>
<div *ngIf="!isLoggedIn()">
<h3>You are not logged in </h3>
</div>


<router-outlet></router-outlet>
